.user-drawing-element-div {
    text-align: center;
    border: none;
}

.attendee-name {
    font-size: 80px;
    font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    color: white;
    margin-bottom: 0px;
}

.attendee-info {
    font-size: 20px;
    font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    color: white;
    height:28px;
    margin-bottom: 0px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*.start-stop-button {
    position: fixed;
    top: 80%;
    left: 45%;
    width: 10%;
    border-color: #37A6E0;
    background-color: #37A6E0;
    color: white;
    padding: 22px 35px;
    font-size: 30px;
    border-radius: 10px;
}*/

.start-stop-button {
  background-color:#2dabf9;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:30px;
  padding:20px 39px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
}


.running {
    border-color: red;
    background-color: red;
}

#carousel-wrapper,
#carousel figure {
    height: 200px;
}
#carousel figure:nth-of-type(1) { -webkit-transform: rotateX(0deg) translateZ(200px); }
#carousel figure:nth-of-type(2) { -webkit-transform: rotateX(60deg) translateZ(200px); }
#carousel figure:nth-of-type(3) { -webkit-transform: rotateX(120deg) translateZ(200px); }
#carousel figure:nth-of-type(4) { -webkit-transform: rotateX(180deg) translateZ(200px); }
#carousel figure:nth-of-type(5) { -webkit-transform: rotateX(240deg) translateZ(200px); }
#carousel figure:nth-of-type(6) { -webkit-transform: rotateX(300deg) translateZ(200px); }
#carousel[data-state="1"] figure:nth-of-type(1),
#carousel[data-state="2"] figure:nth-of-type(2),
#carousel[data-state="3"] figure:nth-of-type(3),
#carousel[data-state="4"] figure:nth-of-type(4),
#carousel[data-state="5"] figure:nth-of-type(5),
#carousel[data-state="6"] figure:nth-of-type(6) { opacity: 1; }

#carousel-wrapper {
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -o-perspective: 1100px;
    perspective: 1100px;
}

#carousel {
    width: 100%;
    height: 100%;
    z-index: 100;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#carousel figure {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    opacity: .5;
    webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}